<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', path='/styles.css')}}" rel="stylesheet">
    <link href="{{url_for('static', path='/login.css')}}" rel="stylesheet">
    <title>QuantSmith | Login</title>
</head>
<body>
    <div>
        <h1>QuantSmith</h1>
        <div>
            <form action="/api/user/login" method="post">
                <label for="login">email:</label>
                <input type="email" name="email" id="">
                <br/>
                <label for="login">password:</label>
                <input type="password" name="password" id="">
                <br/>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</body>
</html>